
#equilateral{
    width: 0;
    border-bottom: 110px solid #706;
    border-right: 110px solid transparent;
    border-left: 110px solid transparent;
    
}
#iscoceless{
    width: 0;
    border-bottom: 90px solid #706;
    border-right: 120px solid transparent;
    border-left: 120px solid transparent;
    
}
#scalene{
    width: 0;
    border-bottom: 60px solid #706;
    border-right: 40px solid transparent;
    border-left: 100px solid transparent;
}